@model BookReaders.Areas.AccountUser.ViewModels.ManageUserViewModel

@{
    ViewData["Title"] = "Manage";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Registerformstyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container1">
        <div class="image-bg"></div>
        <div class="content">
            <div className="head">
                <div style="width:100%; text-align:center; margin-top:10%">
                    <h1>Login</h1>
                </div>

                @*    <a className="back" > <HiOutlineArrowNarrowLeft size={22} />Back
                </a> *@

            </div>
            <div class="body">

                <div class="main" style="margin-top:20%">
                    <form asp-action="ManageUser" asp-controller="Account" asp-area="AccountUser" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-content" style="margin-top: 15px;">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="UserName" class="control-label"></label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImagePath" class="control-label"></label>
                                <input asp-for="ImagePath" class="form-control" type="file" name="Image" />
                                <span asp-validation-for="ImagePath" class="text-danger"></span>
                            </div>
                            <div class="select-form">
                                <div class="items">
                                    <label asp-for="Gender" class="control-label"></label>
                                    <div class="select-inp">

                                        <select asp-for="Gender" class="form-control">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>

                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="items">
                                    <label asp-for="Birthday" class="control-label"></label>
                                    <input asp-for="Birthday" class="form-control" type="date" />
                                    <span asp-validation-for="Birthday" class="text-danger"></span>
                                </div>

                            </div>



                        </div>

                        <div class="footer">
                            <button type="submit" class="btn btn-dark">Edit</button>
                        </div>
                    </form>
                </div>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}