@model BookReaders.Models.Answer


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" asp-controller="Answer" asp-area="" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuestionId" />
            <div class="form-group">
             @*    <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-contro" ></textarea> *@
                <div class="form-floating">
                    <textarea asp-for="Content" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px"></textarea>
                    <label asp-for="Content">Comments</label>
                <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>
           
          
       
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" />
              
            </div>
        </form>
    </div>
</div>

