@model BookReaders.Models.Message

@{

    Layout = null;
}

 @* <style>

    .alert-message {
        margin: 20px 0;
        padding: 20px;
        border-left: 3px solid #eee;
    }

        .alert-message h4 {
            margin-top: 0;
            margin-bottom: 5px;
        }

        .alert-message p:last-child {
            margin-bottom: 0;
        }

        .alert-message code {
            background-color: #fff;
            border-radius: 3px;
        }

    .alert-message-success {
        background-color: #F4FDF0;
        border-color: #3C763D;
    }

        .alert-message-success h4 {
            color: #3C763D;
        }

    .alert-message-danger {
        background-color: #eec4c9;
        border-color: darkred;
    }

        .alert-message-danger h4 {
            color: #d9534f;
        }

    .alert-message-warning {
        background-color: #fcf8f2;
        border-color: #f0ad4e;
    }

        .alert-message-warning h4 {
            color: #f0ad4e;
        }

    .alert-message-info {
        background-color: #f4f8fa;
        border-color: #5bc0de;
    }

        .alert-message-info h4 {
            color: #5bc0de;
        }

    .alert-message-default {
        background-color: #EEE;
        border-color: #B4B4B4;
    }

        .alert-message-default h4 {
            color: #000;
        }

    .alert-message-notice {
        background-color: #FCFCDD;
        border-color: #BDBD89;
    }

        .alert-message-notice h4 {
            color: #444;
        }

    .main-border-button a, .main-border-button form {
        font-size: 13px;
        color: black;
        text-decoration: none;
        border: 1px solid black;
        padding: 12px 25px;
        display: inline-block;
        font-weight: 500;
        transition: all .3s;
    }

    }
</style>
 
<div class="container-fluid mb-5 "
style="background-color:#f5f1ed ; 
height: 100%; background-size: cover; display:flex; justify-content:center;align-items:center">


          

            <div class="row" style="width:50%">

                <div class="col-md-6">
                    <div class="alert-message alert-message-danger ">
                        <h4>
                            Alert Message 
                        </h4>
                        <p>
                        <p style="margin-bottom:20px">@Html.DisplayFor(model => model.Content)</p> <strong>Send message @Html.DisplayFor(model => model.CreateDate)</strong>.
                        </p>
                    </div>
          
                <div class="main-border-button">
                    <a asp-action="Index" asp-controller="Home" asp-area="">Back to Home</a>
                </div>
                </div>
            </div>
              
        
          
        </div> *@

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 100px;
    }

    .left-image {
        width: 40%;
        padding-top: 20px
    }

        .left-image img {
            max-width: 100%;
            height: auto;
            display: block;
        }

    .right-content {
        width: 60%;
        padding: 20px; /* Adjust padding as needed */
    }

        .right-content h5 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .right-content h2 {
            font-size: 24px;
            margin-bottom: 15px;
        }

        .right-content p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
        }

    .total {
        margin-top: 20px;
    }

    .main-border-button a, .main-border-button form {
        font-size: 13px;
        color: black;
        text-decoration: none;
        border: 1px solid black;
        padding: 12px 25px;
        display: inline-block;
        font-weight: 500;
        transition: all .3s;
    }


    .disable {
        background-color: darkred;
        color: #fff;
        font-size: 13px;
        padding: 12px 25px;
        display: inline-block;
        font-weight: 500;
        transition: all .3s;
    }

</style>
<div class="container-fluid mb-5 " style="background-color:#f5f1ed ; height: 100%; background-size: cover; ">
    <div style="margin:auto; height:70%">
        <div class="container">
            <div class="left-image">
                <img src="~/home/images/prt_540x540_1700568370-removebg-preview.png" />
            </div>

            <div class="right-content">


                <div class="col-md-6">
                    <div class="alert-message alert-message-danger ">
                        <h2 style="color:red">
                            Alert Message
                        </h2>
                        <p>
                        <p style="margin-bottom:20px">@Html.DisplayFor(model => model.Content)</p> <strong>Send message @Html.DisplayFor(model => model.CreateDate)</strong>.
                        </p>
                    </div>

                    <div class="main-border-button">
                        <a asp-action="Index" asp-controller="Home" asp-area="">Back to Home</a>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>