@model BookReaders.Areas.Dashboard.Models.RoleViewModel


<form asp-action="Create" method="post">
	<div class="input-group mb-3">
		<input asp-for="Name" class="form-control" placeholder="role name" />
		<div asp-validation-for="Name"></div>
		<div class="input-group-append">
			<button type="submit" class="btn btn-primary" style="background-color:#06453d"> Add New Role</button>
		</div>
	</div>
	<div asp-validation-summary="All"></div>
	</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

